html,
body {
	font-family: Arial, Helvetica, sans-serif;

	margin-left: auto;
	margin-right: auto;
	max-width: 40rem;
	padding: 0.3rem;

	background-color: lightcyan;
}

body h1 {
	text-align: center;
	word-break: break-all;
}

p#fixmemessage {
	display: none;
}

body p a:hover {
	text-decoration: underline;
	color: black;
	font-weight: bold;
}

div#dotdot {
	margin: 1rem 0px;
}

a.dotdot {
	display: inherit;
	text-align: center;

	background-color: rgb(64, 224, 208);
	padding: 12px;
	border-radius: 5px;
}

.file {
	margin-bottom: 0.5rem;

	padding: 0.5rem;
	background-color: lightblue;
	border-radius: 5px;
}

.name {
	margin-bottom: 0.5rem;
}

.name a {
	overflow-wrap: break-word;
	display: inherit;
	text-align: center;
	font-weight: bold;
	background-color: rgb(64, 224, 208);
	padding: 5px;
	border-radius: 5px;
}

a.dotdot:hover,
.name a:hover {
	/* color: white; */
	background-color: rgb(44, 204, 188);
}

.size {
	display: inline;
	font-size: 10pt;
	font-style: italic;
}

.downloadlink {
	display: inline;
	margin-left: 1rem;
}

.downloadlink {
	background-color: rgb(127, 255, 212);
	padding: 0.3rem;
	border-radius: 5px;
}

.downloadlink:hover {
	background-color: rgb(107, 235, 192);
}

.mtime,
.dirtag {
	display: none;
}
a,
a:focus,
a:active {
	color: black;
	text-decoration: none;
}
