a {
	text-decoration: none;
}

div#dotdot, div#subdirectories, div#files {
	margin: 0.5em;
}

div.file, div.subdir {
	clear: both;
	padding: 0.5em;
}

div.dirtag, div.subdir div.name {
	display: inline;
}

div.file div.size,
div.file div.downloadlink {
	display: inline;
}

h1, div.name {
	word-break: break-all;
}

div.mtime {
	display: none;
}
